# Машинное обучение, МАЕ РЭШ

## Практическое задание 1

### Общая информация
Дата выдачи: 03.11.2022  

Дедлайн: 23:59MSK 10.11.2020

### О задании

Задание состоит из двух разделов, посвященных работе с табличными данными с помощью библиотеки pandas и визуализации с помощью matplotlib. В каждом разделе вам предлагается выполнить несколько заданий. Баллы даются за выполнение отдельных пунктов. Задачи в рамках одного раздела рекомендуется решать в том порядке, в котором они даны в задании.

Задание направлено на освоение jupyter notebook (будет использоваться в дальнейших заданиях), библиотекам pandas и matplotlib.

### Оценивание и штрафы
Каждая из задач имеет определенную «стоимость» (указана в скобках около задачи). Максимально допустимая оценка за работу — 10 баллов.

Сдавать задание после указанного срока сдачи нельзя. При выставлении неполного балла за задание в связи с наличием ошибок на усмотрение проверяющего предусмотрена возможность исправить работу на указанных в ответном письме условиях.

Задание выполняется самостоятельно. «Похожие» решения считаются плагиатом и все задействованные студенты (в том числе те, у кого списали) не могут получить за него больше 0 баллов (подробнее о плагиате см. на странице курса). Если вы нашли решение какого-то из заданий (или его часть) в открытом источнике, необходимо указать ссылку на этот источник в отдельном блоке в конце вашей работы (скорее всего вы будете не единственным, кто это нашел, поэтому чтобы исключить подозрение в плагиате, необходима ссылка на источник).

### Формат сдачи
Задания сдаются через систему mу.nes. Присылать необходимо ноутбук с выполненным заданием. 

Для удобства проверки самостоятельно посчитайте свою максимальную оценку (исходя из набора решенных задач) и укажите ниже.

Оценка: xx.

## 0. Введение

Сейчас мы находимся в jupyter-ноутбуке (или ipython-ноутбуке). Это удобная среда для написания кода, проведения экспериментов, изучения данных, построения визуализаций и других нужд, не связанных с написаем production-кода. 

Ноутбук состоит из ячеек, каждая из которых может быть либо ячейкой с кодом, либо ячейкой с текстом размеченным и неразмеченным. Текст поддерживает markdown-разметку и формулы в Latex.

Для работы с содержимым ячейки используется *режим редактирования* (*Edit mode*, включается нажатием клавиши **Enter** после выбора ячейки), а для навигации между ячейками искользуется *командный режим* (*Command mode*, включается нажатием клавиши **Esc**). Тип ячейки можно задать в командном режиме либо с помощью горячих клавиш (**y** to code, **m** to markdown, **r** to edit raw text), либо в меню *Cell -> Cell type*. 

После заполнения ячейки нужно нажать *Shift + Enter*, эта команда обработает содержимое ячейки: проинтерпретирует код или сверстает размеченный текст.

In [1]:
def pprint(*args, **kwargs):
    print(">>", *args, **kwargs)

In [2]:
# ячейка с кодом, при выполнении которой появится output
2 + 2

4

А это ___ячейка с текстом___.

Ячейка с неразмеченыным текстом.

Попробуйте создать свои ячейки, написать какой-нибудь код и текст какой-нибудь формулой.

In [3]:
# your code
pprint("Hello world!")

>> Hello world!

[Здесь](https://athena.brynmawr.edu/jupyter/hub/dblank/public/Jupyter%20Notebook%20Users%20Manual.ipynb) находится <s>не</s>большая заметка о используемом языке разметки Markdown. Он позволяет:

0. Составлять упорядоченные списки
1. #Делать 
##заголовки 
###разного уровня
3. Выделять *текст* <s>при</s> **необходимости**
4. Добавлять [ссылки](http://imgs.xkcd.com/comics/the_universal_label.png)


* Составлять неупорядоченные списки

Делать вставки с помощью LaTex:
    
$
\left\{
\begin{array}{ll}
x = 16 \sin^3 (t) \\ 
y = 13 \cos (t) - 5 \cos (2t) - 2 \cos (3t) - \cos (4t) \\
t \in [0, 2 \pi]
\end{array}
\right.$

А ещё можно вставлять картинки:
<img src="https://st2.depositphotos.com/1177973/9266/i/950/depositphotos_92668716-stock-photo-red-cat-with-computer-keyboard.jpg" style="width: 400px">

## 1. Табличные данные и Pandas

Pandas — удобная библиотека для работы с табличными данными в Python, если данных не слишком много и они помещаются в оперативную память вашего компьютера. Несмотря на неэффективность реализации и некоторые проблемы, библиотека стала стандартом в анализе данных. С этой библиотекой мы сейчас и познакомимся.

Основной объект в pandas это DataFrame, представляющий собой таблицу с именованными колонками различных типов, индексом (может быть многоуровневым). DataFrame можно создавать, считывая таблицу из файла или задавая вручную из других объектов.

В этой части потребуется выполнить несколько небольших заданий. Можно пойти двумя путями: сначала изучить материалы, а потом приступить к заданиям, или же разбираться "по ходу". Выбирайте сами.

Материалы:
1. [Pandas за 10 минут из официального руководства](http://pandas.pydata.org/pandas-docs/stable/10min.html)
2. [Документация](http://pandas.pydata.org/pandas-docs/stable/index.html) (стоит обращаться, если не понятно, как вызывать конкретный метод)
3. [Примеры использования функционала](http://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb)

Многие из заданий можно выполнить несколькими способами. Не существуют единственно верного, но попробуйте максимально задействовать арсенал pandas и ориентируйтесь на простоту и понятность вашего кода. Мы не будем подсказывать, что нужно использовать для решения конкретной задачи, попробуйте находить необходимый функционал сами (название метода чаще всего очевидно). В помощь вам документация, поиск и stackoverflow.

In [4]:
# %pylab inline
# import almost all we need
import pandas as pd
import numpy as np
import plotly.express as px

Данные можно скачать [отсюда](https://www.dropbox.com/s/5qq94wzmbw4e54r/data.csv?dl=0).

#### 1. [0.5 баллов] Откройте файл с таблицей (не забудьте про её формат). Выведите последние 10 строк.

Посмотрите на данные и скажите, что они из себя представляют, сколько в таблице строк, какие столбцы?

In [5]:
# your code
df = pd.read_csv("data/data.csv")
df.tail(10)

,order_id,quantity,item_name,choice_description,item_price
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

#### 2. [0.25 баллов] Ответьте на вопросы:
1. Сколько заказов попало в выборку?
2. Сколько уникальных категорий товара было куплено? (item_name)

In [7]:
# your code
pprint("orders in the sample: {}".format(df["order_id"].nunique()))

>> orders in the sample: 1834

In [8]:
pprint("unique categories of items:")
df["item_name"].value_counts()

>> unique categories of items:

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64

#### 3. [0.25 баллов] Есть ли в данных пропуски? В каких колонках?

In [9]:
# your code
pprint("if attribute has nans?")
df.isna().any()

>> if attribute has nans?

order_id              False
quantity              False
item_name             False
choice_description     True
item_price            False
dtype: bool

Заполните пропуски пустой строкой для строковых колонок и нулём для числовых.

In [10]:
# your code
df["choice_description"] = df["choice_description"].fillna("")

#### 4. [0.5 баллов] Посмотрите внимательнее на колонку с ценой товара. Какого она типа? Создайте новую колонку так, чтобы в ней цена была числом.

Для этого попробуйте применить функцию-преобразование к каждой строке вашей таблицы (для этого есть соответствующая функция).

In [11]:
# your code
df["item_price2"] = df["item_price"].apply(lambda x: float(x[1:]))

Какая средняя/минимальная/максимальная цена у товара?

In [12]:
# your code
df["item_price2"].describe()

count    4622.000000
mean        7.464336
std         4.245557
min         1.090000
25%         3.390000
50%         8.750000
75%         9.250000
max        44.250000
Name: item_price2, dtype: float64

Удалите старую колонку с ценой.

In [13]:
# your code
df = df.drop(columns=["item_price"])

#### 5. [0.25 баллов] Какие 5 товаров были самыми дешёвыми и самыми дорогими? (по item_name)

Для этого будет удобно избавиться от дубликатов и отсортировать товары. Не забудьте про количество товара.

In [14]:
# your code
df["price_per_quantity"] = df["item_price2"] / df["quantity"]
temp_df = df.drop_duplicates(["item_name", "price_per_quantity"]).sort_values(by=["price_per_quantity"], ascending=False)[["item_name", "price_per_quantity"]].reset_index(drop=True)

In [15]:
pprint("top 5 expensive items:")
temp_df.head(5)

>> top 5 expensive items:

               item_name  price_per_quantity
0       Steak Salad Bowl               11.89
1    Barbacoa Salad Bowl               11.89
2    Carnitas Salad Bowl               11.89
3       Carnitas Burrito               11.75
4  Carnitas Crispy Tacos               11.75

In [16]:
pprint("least 5 expensive items:")
temp_df.tail(5)

>> least 5 expensive items:

             item_name  price_per_quantity
134      Side of Chips                1.69
135      Bottled Water                1.50
136  Canned Soft Drink                1.25
137        Canned Soda                1.09
138      Bottled Water                1.09

In [17]:
del temp_df

#### 6. [0.5 баллов] Сколько раз клиенты покупали больше 1 Chicken Bowl (item_name)?

In [18]:
# your code
len(df.loc[(df["item_name"] == "Chicken Bowl") & (df["quantity"] > 1)])

33

#### 7. [0.5 баллов] Какой средний чек у заказа? Сколько в среднем товаров покупают?

Если необходимо провести вычисления в терминах заказов, то будет удобно сгруппировать строки по заказам и посчитать необходимые статистики.

In [19]:
# your code
temp_df = df.groupby("order_id").agg(
    price_per_order=("item_price2", "sum"),
    quantity_per_order=("quantity", "sum")
)
pprint(f"mean price per order: ${temp_df['price_per_order'].mean():.2f} and mean quantity: {temp_df['quantity_per_order'].mean():.2f}")
del temp_df

>> mean price per order: $18.81 and mean quantity: 2.71

#### 8. [0.25 баллов] Сколько заказов содержали ровно 1 товар?

In [20]:
# your code
temp_df = df.groupby("order_id").agg(
    quantity_per_order=("quantity", "sum")
)
pprint(f"orders with exactly one item: {len(temp_df.loc[temp_df['quantity_per_order'] == 1])}")
del temp_df

>> orders with exactly one item: 56

#### 9. [0.25 баллов] Какая самая популярная категория товара?

In [21]:
# your code
temp_df = df.groupby(["item_name"]).agg(
    quantity_per_item=("order_id", "count")
).sort_values(by="quantity_per_item", ascending=False)
temp_df.head(1)

              quantity_per_item
item_name
Chicken Bowl                726

#### 10. [0.5 баллов] Какие виды Burrito существуют? Какой из них чаще всего покупают? Какой из них самый дорогой?

In [22]:
# your code
# from the previous tasks
temp_df = df.drop_duplicates(["item_name", "price_per_quantity"]).sort_values(by=["price_per_quantity"], ascending=False)[["item_name", "price_per_quantity"]].reset_index(drop=True)
temp_df.loc[temp_df["item_name"].str.contains("Burrito")].reset_index(drop=True).drop_duplicates().head(5)

          item_name  price_per_quantity
0  Carnitas Burrito               11.75
1  Barbacoa Burrito               11.75
2     Steak Burrito               11.75
3  Carnitas Burrito               11.48
4  Barbacoa Burrito               11.48

In [23]:
temp_df = df.groupby(["item_name"]).agg(
    quantity_per_item=("order_id", "count")
).sort_values(by="quantity_per_item", ascending=False).reset_index(drop=False)
temp_df.loc[temp_df["item_name"].str.contains("Burrito")].head(5)

           item_name  quantity_per_item
1    Chicken Burrito                553
3      Steak Burrito                368
13    Veggie Burrito                 95
14  Barbacoa Burrito                 91
18  Carnitas Burrito                 59

In [24]:
pprint("number of unique burritos:", temp_df.loc[temp_df["item_name"].str.contains("Burrito")]['item_name'].nunique())

>> number of unique burritos: 6

#### 11. [0.75 баллов] В каком количестве заказов есть товар, который стоит более 40% от суммы всего чека?

Возможно, будет удобно посчитать отдельно среднюю стоимость заказа, добавить ее в исходные данные и сделать необходимые проверки.

*Данный комментарий стоит воспринимать как подсказку к одному из вариантов решений задания. Если в вашем варианте решения он не нужнен, это не страшно*

In [25]:
# your code
df["total_price_order"] = df.groupby(["order_id"])["item_price2"].transform("sum")
pprint("number of such orders:", df.loc[df["price_per_quantity"] / df["total_price_order"] >= 0.4]["order_id"].nunique())

>> number of such orders: 1589

#### 12. [0.75 баллов] Предположим, что в данных была ошибка и Diet Coke (choice_description), который стоил $1.25, должен был стоить 1.35. Скорректируйте данные в таблицы и посчитайте, на какой процент больше денег было заработано с этого товара. Не забывайте, что количество товара не всегда равно 1.

In [26]:
# your code
before_sum = df.loc[df["choice_description"] == "[Diet Coke]"]["item_price2"].sum()
pprint("before: {:.2f}".format(before_sum))

temp_df = df.copy()
temp_df.loc[(temp_df["choice_description"] == "[Diet Coke]") & (temp_df["price_per_quantity"] == 1.25), "price_per_quantity"] = 1.35
temp_df["item_price2"] = temp_df["price_per_quantity"] * temp_df["quantity"]

after_sum = temp_df.loc[df["choice_description"] == "[Diet Coke]"]["item_price2"].sum()
pprint("after: {:.2f}".format(after_sum))
pprint(f"growth: {100. * (after_sum - before_sum)/before_sum:.2f}%")

>> before: 326.71
>> after: 338.21
>> growth: 3.52%

[#### 13. [0.75 баллов] Создайте новый DateFrame из матрицы, созданной ниже. Назовите колонки index, column1, column2 и сделайте первую колонку индексом.

In [27]:
data = np.random.rand(10, 3)
# your code
new_df = pd.DataFrame(data, columns=["index", "column1", "columns"]).set_index("index")

           column1   columns
index
0.361728  0.777979  0.201274
0.480082  0.867178  0.350287
0.245738  0.034543  0.999930
0.116611  0.684135  0.398738
0.914522  0.235861  0.034526
0.013846  0.855841  0.093147
0.128696  0.584270  0.754801
0.863821  0.733557  0.795932
0.803891  0.504744  0.339546
0.510822  0.396215  0.598171

Сохраните DataFrame на диск в формате csv без индексов и названий столбцов.

In [28]:
# your code
new_df.to_csv("data/new_data.csv", index=False, header=False)

## 2. Визуализации и matplotlib

При работе с данными часто неудобно делать какие-то выводы, если смотреть на таблицу и числа в частности, поэтому важно уметь визуализировать данные. В этом разделе мы этим и займёмся.

У matplotlib, конечно, же есть [документация](https://matplotlib.org/users/index.html) с большим количеством [примеров](https://matplotlib.org/examples/), но для начала достаточно знать про несколько основных типов графиков:
- plot — обычный поточечный график, которым можно изображать кривые или отдельные точки;
- hist — гистограмма, показывающая распределение некоторое величины;
- scatter — график, показывающий взаимосвязь двух величин;
- bar — столбцовый график, показывающий взаимосвязь количественной величины от категориальной.

В этом задании вы попробуете построить каждый из них. Не менее важно усвоить базовые принципы визуализаций:
- на графиках должны быть подписаны оси;
- у визуализации должно быть название;
- если изображено несколько графиков, то необходима поясняющая легенда;
- все линии на графиках должны быть чётко видны (нет похожих цветов или цветов, сливающихся с фоном);
- если отображена величина, имеющая очевидный диапазон значений (например, проценты могут быть от 0 до 100), то желательно масштабировать ось на весь диапазон значений (исключением является случай, когда вам необходимо показать малое отличие, которое незаметно в таких масштабах).
- сетка на графике помогает оценить значения в точках на глаз, это обычно полезно, поэтому лучше ее отрисовывать.

In [ ]:
%matplotlib inline  # нужно для отображения графиков внутри ноутбука
import matplotlib.pyplot as plt

На самом деле мы уже импортировали matplotlib внутри %pylab inline в начале задания.

Работать мы будем с той же выборкой покупкок. Добавим новую колонку с датой покупки.

In [ ]:
import datetime

start = datetime.datetime(2018, 1, 1)
end = datetime.datetime(2018, 1, 31)
delta_seconds = int((end - start).total_seconds())

dates = pd.DataFrame(index=df.order_id.unique())
dates['date'] = [
    (start + datetime.timedelta(seconds=random.randint(0, delta_seconds))).strftime('%Y-%m-%d')
    for _ in range(df.order_id.nunique())]

# если DataFrame с покупками из прошлого заказа называется не df, замените на ваше название ниже
df['date'] = df.order_id.map(dates['date'])

#### 1. [1 балл] Постройте гистограмму распределения сумм покупок и гистограмму средних цен отдельных видов продуктов item_name. 

Изображайте на двух соседних графиках. Для этого может быть полезен subplot.

In [ ]:
# your code

#### 2. [1 балл] Постройте график зависимости суммы покупок от дней.

In [ ]:
# your code

#### 3. [1 балл] Постройте средних сумм покупок по дням недели (bar plot).

In [ ]:
# your code

#### 4. [1 балл] Постройте график зависимости денег за товар от купленного количества (scatter plot).

In [ ]:
# your code

Сохраните график в формате pdf (так он останется векторизованным).

In [ ]:
# your code

Еще одна билиотека для визуализации: [seaborn](https://jakevdp.github.io/PythonDataScienceHandbook/04.14-visualization-with-seaborn.html). Это настройка над matplotlib, иногда удобнее и красивее делать визуализации через неё.